{% extends 'base/base.html' %}

{% block title %}
	Tạo hóa đơn bán
{% endblock %}

{% block body %}
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Tạo hóa đơn bán
			</div>	
			
			<div class="panel-body">
				<form method="post" class="form-horizontal">
					{% csrf_token %}
					{% for field in form %}
						<div class="form-group">
							{{ field.errors }}
							<label class="control-label col-sm-2">{{ field.label_tag }}</label>
							<div class="col-sm-10">
								{{ field }}
								{% if field.help_text %}
		       						{{ field.help_text|safe }}
		        				{% endif %}						
							</div>
						</div>
					{% endfor %}
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-11">
							<a href="{% url 'jDream:view_HDBan' %}" class="btn btn-primary">Hủy</a>
							&nbsp;&nbsp;
							<button type="submit" class="btn btn-primary">Submit</button>
						<div>
					</div>			
				</form>				
			</div>			
		</div>
	</div>
	
{% endblock %}