{% extends 'base/base.html' %}
{% block title %}
	Hóa đơn bán
{% endblock %}

{% block body %}
	
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Hóa đơn bán
				</div>

				<div class="panel-body">
					<form method="post" action="#" class="form-horizontal">
						{% csrf_token %}
						<div class="form-group">
							<table class="table table-hover tablesorter">
								<thead>
									<tr>
										<th scope="col">
											<div class="text">
												<span>
													<input type="checkbox" id="select_all">
												</span>
											</div>
										</th>
										<th scope="col">
											<div class="text">Mã Hóa Đơn</div>						
										</th>
										<th scope="col">
											<div class="text">Mã Nhân Viên</div>
										</th>
										<th scope="col">
											<div class="text">Mã Khách Hàng</div>
										</th>
										<th scope="col">
											<div class="text">Ngày Lập</div>
										</th>
									</tr>
								</thead>

								<tbody>
									{% for field in form|dictsort:"MaHDBan" %}
									<tr>
										<td>
											<input type="checkbox" name="Items" value="{{field.pk}}">
										</td>
										<th>
											<a href="#">{{field.MaHDBan}}</a>
										</th>
										<td>{{field.MaNhanVien}}</td>
										<td>{{field.MaKhachHang}}</td>
										<td>{{field.NgayBan}}</td>
										<td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="form-group">
							<div class="col-sm-9">
								<a href="{% url 'jDream:create_HDBan' %}" class="btn btn-primary">Tạo hóa đơn</a>
							</div>
							<div class="col-sm-3">
								<button type="submit" name='delete' class="btn btn-primary">Xóa nhân viên đã chọn</button>
							</div>							
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}