<html>
    <head>
        <title>Lấy lại mật khẩu</title>
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/passwordreset.css' %}">
    </head>
    <body>
        <div id="id01" class="modal">
            <form class="modal-content animate" method="post">
                <a href="{% url 'accounts:login' %}" class="close">×</a>
                {% csrf_token %}
                <div class="form-container">
                    {{ form.email.label_tag }}
                    <br>
                    {{ form.email}}
                    {{ form.email.errors }}
                    <div class="clearfix">
                        <a href="{% url 'accounts:login' %}"><button type="button" class="cancelbtn">Thoát</button></a>
                        <button type="submit" class="confirmbtn">Xác nhận</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>