{% extends 'base/base.html' %}
{% block title %}
	Nhân Viên
{% endblock %}

{% block body %}
	
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Nhân Viên
				</div>

				<div class="panel-body">
					<form method="post" action="{% url 'jDream:display_selected_nhan_vien' %}" class="form-horizontal">
						{% csrf_token %}
						<div class="form-group">
							<table class="table table-hover tablesorter">
								<thead>
									<tr>
										<th scope="col">
											<div class="text">
												<span>
													<input type="checkbox" id="select_all">
												</span>
											</div>
										</th>
										<th scope="col">
											<div class="text">Mã Nhân Viên</div>						
										</th>
										<th scope="col">
											<div class="text">Tên Nhân Viên</div>
										</th>
										<th scope="col">
											<div class="text">Địa Chỉ</div>
										</th>
										<th scope="col">
											<div class="text">Điện Thoại</div>
										</th>
									</tr>
								</thead>

								<tbody>
									{% for field in form|dictsort:"MaNhanVien" %}
									<tr>
										<td>
											<input type="checkbox" name="Items" value="{{field.pk}}">
										</td>
										<th>
											<a href="{% url 'jDream:change_nhan_vien' field.pk %}">{{field.MaNhanVien}}</a>
										</th>
										<td>{{field.TenNhanVien}}</td>
										<td>{{field.DiaChi}}</td>
										<td>{{field.DienThoai}}</td>
										<td><a href="{% url 'jDream:delete_nhan_vien' field.pk %}"><span class="glyphicon glyphicon-trash"></span></a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="form-group">
							<div class="col-sm-9">
								<a href="{% url 'jDream:create_nhan_vien' %}" class="btn btn-primary">Tạo nhân viên</a>
							</div>
							<div class="col-sm-3">
								<button type="submit" name='delete' class="btn btn-primary">Xóa nhân viên đã chọn</button>
							</div>							
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}