{% extends 'base/base.html' %}

{% block title %}
	Xóa khách hàng đã chọn
{% endblock %}

{% block body %}
	<div class="container">
		<div class="panel panel-danger">
			<div class="panel-heading">
				Xóa khách hàng đã chọn
			</div>

			<div class="panel-body">
				<form method="post" action="{% url 'jDream:delete_selected_khach_hang' %}" class="form-horizontal">
					{% csrf_token %}				
						{% for instance in instances %}
							<div class="form-group">
								<input type="hidden" name="pk" value="{{ instance.pk }}">
								<label class="col-sm-2">Mã khách hàng:</label>
								<p class="col-sm-10">{{ instance.MaKhachHang }}</p>							
								<label class="col-sm-2">Tên khách hàng:</label>
								<p class="col-sm-10">{{ instance.TenKhachHang }}</p>
								

								<label class="col-sm-2">Địa chỉ: </label>
								<p class="col-sm-10">{{ instance.DiaChi }}</p>

								<label class="col-sm-2">Điện thoại: </label>
								<p class="col-sm-10">{{ instance.DienThoai }}</p>
							</div>							
						{% endfor %}
						<div class="form-group">
							<h3>Bạn có muốn xóa khách hàng đã chọn không?</h3>
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-danger">Có</button>
								&nbsp;&nbsp;
								<a href="{% url 'jDream:view_khach_hang' %}" class="btn btn-default">Không</a>
							</div>							
						</div>										
				</form>
			</div>
		</div>
	</div>
{% endblock %}