{% extends 'base/base.html' %}
{% block title %}
	Khách Hàng
{% endblock %}

{% block body %}
	
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Khách Hàng
				</div>

				<div class="panel-body">
					<form method="post" action="{% url 'jDream:display_selected_khach_hang' %}" class="form-horizontal">
						{% csrf_token %}
						<div class="form-group">
							<table class="table table-hover tablesorter">
								<thead>
									<tr>
										<th scope="col">
											<div class="text">
												<span>
													<input type="checkbox" id="select_all">
												</span>
											</div>
										</th>
										<th scope="col">
											<div class="text">Mã Khách Hàng</div>						
										</th>
										<th scope="col">
											<div class="text">Tên Khách Hàng</div>
										</th>
										<th scope="col">
											<div class="text">Địa Chỉ</div>
										</th>
										<th scope="col">
											<div class="text">Điện Thoại</div>
										</th>
									</tr>
								</thead>

								<tbody>
									{% for field in form|dictsort:"MaKhachHang" %}
									<tr>
										<td>
											<input type="checkbox" name="Items" value="{{field.pk}}">
										</td>
										<th>
											<a href="{% url 'jDream:change_khach_hang' pk=field.pk %}">{{field.MaKhachHang}}</a>
										</th>
										<td>{{field.TenKhachHang}}</td>
										<td>{{field.DiaChi}}</td>
										<td>{{field.DienThoai}}</td>
										<td><a href="{% url 'jDream:delete_khach_hang' pk=field.pk %}"><span class="glyphicon glyphicon-trash"></span></a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="form-group">
							<div class="col-sm-9">
								<a href="{% url 'jDream:create_khach_hang' %}" class="btn btn-primary">Tạo khách hàng</a>
							</div>
							<div class="col-sm-3">
								<button type="submit" name='delete' class="btn btn-primary">Xóa khách hàng đã chọn</button>
							</div>							
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}