/* Center the image and position the close button */
.img-container{
    text-align: center;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 12px;
    position: relative; /* position the close button */
}
img.avatar{
    width: 40%;
    border-radius: 50%;
}
/* Full-width input fields */
input[type=text], input[type=password]{
    width: 100%;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 12px;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */

button{
    background-color: #4CAF50;
    color: white;
    width: 100%;
    padding-top: 14px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 14px;
    border: none;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 8px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

.form-container{
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.cancelbtn,.loginbtn {float:left;width:50%}

.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal{
    display: block; /* Hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content{
    background-color: #fefefe;
    /* 5% from the top and centered */
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1%;
    border: 3px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close{
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
/* Close button on hover */
.close:hover, .close:focus{
    color: red;
    cursor: pointer;
}

/* Add zoom animation */
.animate{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from{ -webkit-transform: scale(0)}
    to{ -webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from{transform: scale(0)}
    to{transform: scale(1)}
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .psw {
       display: block;
       float: none;
    }
    .cancelbtn, .loginbtn {
       width: 100%;
    }
}