{% extends 'base/base.html' %}

{% block title %}
	Xóa hàng hóa đã chọn
{% endblock %}

{% block body %}
	<div class="container">
		<div class="panel panel-danger">
			<div class="panel-heading">
				Xóa hàng hóa đã chọn
			</div>

			<div class="panel-body">
				<form method="post" action="{% url 'jDream:delete_selected_hang' %}" class="form-horizontal">
					{% csrf_token %}				
						{% for instance in instances %}
							<div class="form-group">
								<input type="hidden" name="pk" value="{{ instance.pk }}">
								<label class="col-sm-2">Mã hàng:</label>
								<p class="col-sm-10">{{ instance.MaHang }}</p>							
								<label class="col-sm-2">Tên hàng:</label>
								<p class="col-sm-10">{{ instance.TenHang }}</p>
								

								<label class="col-sm-2">Số lượng: </label>
								<p class="col-sm-10">{{ instance.SoLuong }}</p>

								<label class="col-sm-2">Giá mua vào: </label>
								<p class="col-sm-10">{{ instance.GiaMuaVao }}</p>

								<label class="col-sm-2">Giá bán ra: </label>
								<p class="col-sm-10">{{ instance.GiaBanRa }}</p>
							</div>							
						{% endfor %}
						<div class="form-group">
							<h3>Bạn có muốn xóa không?</h3>
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-danger">Có</button>
								&nbsp;&nbsp;
								<a href="{% url 'jDream:view_hang' %}" class="btn btn-default">Không</a>
							</div>							
						</div>										
				</form>
			</div>
		</div>
	</div>
{% endblock %}