{% extends 'base/base.html' %}
{% block title %}
	Hàng hóa
{% endblock %}

{% block body %}
	
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Hàng hóa
				</div>

				<div class="panel-body">
					<form method="post" action="{% url 'jDream:display_selected_hang' %}" class="form-horizontal">
						{% csrf_token %}
						<div class="form-group">
							<table class="table table-hover tablesorter">
								<thead>
									<tr>
										<th scope="col">
											<div class="text">
												<span>
													<input type="checkbox" id="select_all">
												</span>
											</div>
										</th>
										<th scope="col">
											<div class="text">Mã Hàng</div>						
										</th>
										<th scope="col">
											<div class="text">Tên Hàng</div>
										</th>
										<th scope="col">
											<div class="text">Số Lượng</div>
										</th>
										<th scope="col">
											<div class="text">Giá Mua</div>
										</th>
										<th scope="col">
											<div class="text">Giá Bán</div>
										</th>
                                        <th scope="col">
											<div class="text">Hình ảnh</div>
										</th>
									</tr>
								</thead>

								<tbody>
									{% for field in form|dictsort:"MaHang" %}
									<tr>
										<td>
											<input type="checkbox" name="Items" value="{{field.pk}}">
										</td>
										<th>
											<a href="{% url 'jDream:change_hang' field.pk %}">{{field.MaHang}}</a>
										</th>
										<td>{{field.TenHang}}</td>
										<td>{{field.SoLuong}}</td>
										<td>{{field.GiaMuaVao}}</td>
										<td>{{field.GiaBanRa}}</td>
                                        <td><img src="{{ field.image.url }}" class="img-responsive" width="80" height="50"></td>
										<td><a href="{% url 'jDream:delete_hang' field.pk %}"><span class="glyphicon glyphicon-trash"></span></a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="form-group">
							<div class="col-sm-9">
								<a href="{% url 'jDream:create_hang' %}" class="btn btn-primary">Tạo hàng hóa</a>
							</div>
							<div class="col-sm-3">
								<button type="submit" name='delete' class="btn btn-primary">Xóa khách hàng đã chọn</button>
							</div>							
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}